[submodule "deps/SDL2"]
	path = deps/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/SDL_ttf"]
	path = deps/SDL_ttf
	url = https://github.com/playmer/SDL_ttf.git
[submodule "deps/freetype"]
	path = deps/freetype
	url = https://github.com/freetype/freetype.git
[submodule "deps/soloud/repo"]
	path = deps/soloud/repo
	url = https://github.com/playmer/soloud.git
[submodule "deps/basis_universal"]
	path = deps/basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
[submodule "deps/lodepng"]
	path = deps/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb.git